POSTGRES_USER=matas
POSTGRES_PASSWORD=slaptazodis
POSTGRES_DB=praktika_db
# DATABASE_URL=postgresql://matas:slaptazodis@localhost:5433/praktika_db   #local uvicorn
DATABASE_URL_DOCKER=postgresql://matas:slaptazodis@db:5432/praktika_db
VITE_API_URL=https://localhost:8000
CORS_ORIGINS=http://localhost:3000,https://localhost:3001
JWT_SECRET=5678a22b4cbdbe5aefd29ff4cb6819cd7391e127527d68bc293724a98b16319e