POSTGRES_USER=matas
POSTGRES_PASSWORD=slaptazodis
POSTGRES_DB=praktika_db
VITE_API_URL=http://localhost:8000
CORS_ORIGINS=http://localhost:3000
JWT_SECRET=5678a22b4cbdbe5aefd29ff4cb6819cd7391e127527d68bc293724a98b16319e